{% extends "_global/index.html" %}

{% block main %}
<div class="jumbotron mt-5">
    <h1 class="display-4">Social network app</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda at cumque cupiditate dignissimos dolores, eius error illum in maxime necessitatibus odit officia porro quisquam repudiandae tempora ut voluptatem voluptatibus?</p>
    <a class="btn btn-primary btn-lg" href="{{ BASE }}/user/login/" role="button"><i class="fas fa-sign-in-alt"></i> Login</a>
    <a href="{{ BASE }}/user/register/" class="btn btn-outline-dark btn-lg ml-4">Register</a>
</div>
{% endblock %}
