{% extends "_global/index.html" %}

{% block main %}
<div class="container">
    <a href="{{ BASE }}/user/logout/" class="link-primary">Logout</a>

    <h2 class="display-5 text-center mt-5">Notifications</h2>

    <ul>
    {% for user in users %}
        <li>
            {{ user.forename|e }} {{ user.surname|e }} Wants to be your friend
            <a href="{{ BASE }}/user/accept/{{ user.user_id }}/" class="link-success">Accept</a>
            <!--<a href="{{ BASE }}/user/reject/{{ user.user_id }}/" class="link-danger">Reject</a>-->
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
