{% extends "_global/index.html" %}

{% block main %}
<div class="container">
    <a href="{{ BASE }}/user/logout/" class="text-primary">Logout</a><br>
    <a href="{{ BASE }}/user/profile/" class="text-primary">Profile</a>

    <h2 class="display-5 text-center mt-5">Notifications</h2>

    <ul>
    {% for user in users %}
        <li>
            {{ user.forename|e }} {{ user.surname|e }} Wants to be your friend
            <a href="{{ BASE }}/user/accept/{{ user.user_id }}/" class="text-success">Accept</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
