{% extends "_global/index.html" %}

{% block main %}
<div class="container text-center">
    <h1 class="display-4">Welcome, {{ user.forename|e }}</h1>
    <a href="{{ BASE }}/user/logout/" class="link-primary">Logout</a>

    {% for user in users %}
        <div>
            <h3 class="display-6 mt-4 mb-5">
                {{ user.forename|e }} {{ user.surname|e }}
                <a href="{{ BASE }}/friend/{{ user.user_id }}">Add friend</a>
            </h3>
        </div>
    {% endfor %}
</div>
{% endblock %}
