{% extends "_global/index.html" %}

{% block main %}
<div class="container">
    <h1 class="display-4 text-center">Welcome, {{ user.forename|e }}</h1>
    <a href="{{ BASE }}/user/logout/" class="link-primary">Logout</a>

    <h2 class="display-5 text-center mt-5">Users you might know</h2>
    <a href="{{BASE}}/user/notification/" class="btn btn-outline-primary">Notifications</a>
    {% for user in users %}
        <ul class="mx-auto" style="width: 400px;">
            <li>
                {{ user.forename|e }} {{ user.surname|e }} <br>
                <a href="{{ BASE }}/user/friend/{{ user.user_id }}/">Add friend</a>
            </li>
        </ul>
    {% endfor %}
</div>
{% endblock %}
